#menu {
  background-color: #C0B283;
  color: #FFF;
  list-style-type: none;
  margin: 0;
  padding: 0.3em 0;
  text-align: center;
}

#menu li {
  display: inline;
  padding: 0 0.5em;
}

#menu  li a {
  background-color: transparent;
  color: #000;
  padding: 0.1em 0.5em;
  text-decoration: none;
}

#menu li a.sel {
  background-color: transparent;
  font-weight: bold;
  color: #DCD0C0;
  padding: 0.1em 0.5em;
  text-decoration: none;
}

#menu  li a:hover {
  background-color: #000;
  color: #F4F4F4;
  
}
